@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import "reset.css";
@import "grid.css";
@import url(https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Ruslan+Display|Exo+2:900italic&subset=latin,cyrillic);
body {
    font-family: Arial, sans-serif;
    background-color: coral;
    color: darkred;
    float: left;

}


img.size {
    background: auto;

}

h1 {
    font-family: 'Bad Script', cursive;
    color: antiquewhite;
    background-color: black;
    text-align: center;
}

p {
    margin-left: 60px;
    margin-right: 60px;
    border-left: double coral;
    float: left;
    width: auto;

}
table {
    background-color: coral;
}

blockquote {
    font-family: Verdana, Helvetica, Arial, sans-serif, cursive;
    font-style: italic;
    color: darkseagreen;
}



