..menu li {
    margin-bottom: 0.625em; /* 10px*/;
    margin-top: 0.625em; /* 10px*/;
}

.menu a {
    display: block;
    padding: 0.625em;
    text-decoration: none;
}

.menu-horizontal {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.menu-horizontal li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.top-menu a {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.top-menu a:hover {
    color: rgb(248, 120, 88);
}


